body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginsignup {
  max-width: 75%;
  margin-left: 10%;
  border-radius: 30px;
}

.col-md-8 {
  background-color: lavender;
  border-radius: 0 30px 30px 0;
}

.remsignup {
  align-items: center;
  justify-content: center;
  border-radius: 30px 0 0 30px;
  background-color: #42bec0
}

@media screen and (max-width: 768px) {
  .loginsignup {
    max-width: 100%;
    border-radius: 0;
  }

  .col-md-8 {
    background-color: lavender;
    border-radius: 0;
  }

  .remsignup {
    display: none;
  }

  .remsignup button {
    display: none;
  }
}